<div class="introduction">
  <h3><%= t('wholesalers') %></h3>

  <p>We at Tropics recognize that customers that own bars, restaurants, hotels, and other types of foodservice and retail establishments require pricing that is more competitive than what can be obtained through the Webshop, therefore we have created this section specially for you.  In order to take advantage of the special pricing, special offers and promotions that are offered here, we just need to obtain a little information from you in order to create a secure login that will allow you to customize your shopping experience.  Your information will be kept strictly confidential, and will not be shared, sold or solicited to other web providers or marketing sites.</p>
</div>
